In [3]:
from langchain_community.llms import Ollama

In [4]:
llm = Ollama(model='llama2')

In [5]:
import pandas as pd
df = pd.read_csv('data.csv', encoding='unicode_escape')
df.head()

/var/folders/tj/jt2y38mj4kjbytwx5ks0xyv00000gn/T/ipykernel_859/287861738.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [6]:
unique_items = df['Description'].unique()
print(unique_items, '\n', len(unique_items), '<---- is total amount of items!')

['WHITE HANGING HEART T-LIGHT HOLDER' 'WHITE METAL LANTERN'
 'CREAM CUPID HEARTS COAT HANGER' ... 'lost'
 'CREAM HANGING HEART T-LIGHT HOLDER' 'PAPER CRAFT , LITTLE BIRDIE']
 4224 <---- is total amount of items!

In [90]:
unique_items[1:10]

array(['WHITE METAL LANTERN', 'CREAM CUPID HEARTS COAT HANGER',
       'KNITTED UNION FLAG HOT WATER BOTTLE',
       'RED WOOLLY HOTTIE WHITE HEART.', 'SET 7 BABUSHKA NESTING BOXES',
       'GLASS STAR FROSTED T-LIGHT HOLDER', 'HAND WARMER UNION JACK',
       'HAND WARMER RED POLKA DOT', 'ASSORTED COLOUR BIRD ORNAMENT'],
      dtype=object)

In [8]:
request = llm.invoke('Please categorize each single purchase with one word such as furniture, decorum, toys, clothing, groceries, etc. Use as least amount of categories as possible.' + ','.join(unique_items[0:30]))
request = request.split('\n')

In [9]:
request

['Here are the categories for the single purchases:',
 '',
 '1. Decorative items: WHITE HANGING HEART T-LIGHT HOLDER, KNITTED UNION FLAG HOT WATER BOTTLE, ASSORTED COLOUR BIRD ORNAMENT, DOORMAT NEW ENGLAND',
 '2. Lighting: WHITE METAL LANTERN, GLASS STAR FROSTED T-LIGHT HOLDER',
 '3. Home organization: SET 7 BABUSHKA NESTING BOXES, RED COAT RACK PARIS FASHION, YELLOW COAT RACK PARIS FASHION, BLUE COAT RACK PARIS FASHION',
 "4. Textiles: HAND WARMER UNION JACK, HAND WARMER RED POLKA DOT, IVORY KNITTED MUG COSY, POLLY'S PLAYHOUSE BEDROOM, POLLY'S PLAYHOUSE KITCHEN",
 '5. Personal care: BOX OF 6 ASSORTED COLOUR TEASPOONS, ALARM CLOCK BAKELIKE PINK, ALARM CLOCK BAKELIKE RED, ALARM CLOCK BAKELIKE GREEN',
 '6. Toys and games: FELTCRAFT PRINCESS CHARLOTTE DOLL, PANDA AND BUNNIES STICKER SHEET',
 '7. Stationery: RECIPE BOX WITH METAL HEART, HOME BUILDING BLOCK WORD, LOVE BUILDING BLOCK WORD']

In [10]:
def hop(start, stop, step):
    for i in range(start, stop, step):
        yield i
    yield stop

index_list = list(hop(0, len(unique_items), 30))
index_list

[0,
 30,
 60,
 90,
 120,
 150,
 180,
 210,
 240,
 270,
 300,
 330,
 360,
 390,
 420,
 450,
 480,
 510,
 540,
 570,
 600,
 630,
 660,
 690,
 720,
 750,
 780,
 810,
 840,
 870,
 900,
 930,
 960,
 990,
 1020,
 1050,
 1080,
 1110,
 1140,
 1170,
 1200,
 1230,
 1260,
 1290,
 1320,
 1350,
 1380,
 1410,
 1440,
 1470,
 1500,
 1530,
 1560,
 1590,
 1620,
 1650,
 1680,
 1710,
 1740,
 1770,
 1800,
 1830,
 1860,
 1890,
 1920,
 1950,
 1980,
 2010,
 2040,
 2070,
 2100,
 2130,
 2160,
 2190,
 2220,
 2250,
 2280,
 2310,
 2340,
 2370,
 2400,
 2430,
 2460,
 2490,
 2520,
 2550,
 2580,
 2610,
 2640,
 2670,
 2700,
 2730,
 2760,
 2790,
 2820,
 2850,
 2880,
 2910,
 2940,
 2970,
 3000,
 3030,
 3060,
 3090,
 3120,
 3150,
 3180,
 3210,
 3240,
 3270,
 3300,
 3330,
 3360,
 3390,
 3420,
 3450,
 3480,
 3510,
 3540,
 3570,
 3600,
 3630,
 3660,
 3690,
 3720,
 3750,
 3780,
 3810,
 3840,
 3870,
 3900,
 3930,
 3960,
 3990,
 4020,
 4050,
 4080,
 4110,
 4140,
 4170,
 4200,
 4224]

In [95]:
def categorize(item_names, llm):
    request = llm.invoke('Please categorize each single purchase. Examples: Lantern/Light - Decorum, Block/Doll/Playhouse -  Toys, Coat/Fashion - Clothing, Food/Water - Groceries.' + ','.join(unique_items[0:30]))
    request = request.split('\n')

    categorize_df = pd.Series()
    for i in range(len(item_names)+2):
        categorize_df.loc[len(categorize_df)] = request[i]

    return categorize_df

In [96]:
test = categorize(['WHITE HANGING HEART T-LIGHT HOLDER'], llm)

In [98]:
desired_df = df[['Quantity', 'InvoiceDate', 'UnitPrice']]
desired_df

        Quantity      InvoiceDate  UnitPrice
0              6   12/1/2010 8:26       2.55
1              6   12/1/2010 8:26       3.39
2              8   12/1/2010 8:26       2.75
3              6   12/1/2010 8:26       3.39
4              6   12/1/2010 8:26       3.39
...          ...              ...        ...
541904        12  12/9/2011 12:50       0.85
541905         6  12/9/2011 12:50       2.10
541906         4  12/9/2011 12:50       4.15
541907         4  12/9/2011 12:50       4.15
541908         3  12/9/2011 12:50       4.95

[541909 rows x 3 columns]

In [102]:
for i in range(0, len(index_list)-1):
    batches = unique_items[index_list[i]:index_list[i+1]]
    categories_df = pd.DataFrame()
    for item in batches:
        categories_df = pd.concat(categorize(item, llm))

categories_df

IndexError: list index out of range